<section data-ng-controller="OffersCompanyController">
	<table class="table wrap table-fixed">
		<tr>
			<th data-ng-click="sort('refNo')">Ref. No.
				<span class="glyphicon sort-icon" ng-show="sortKey=='refNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th data-ng-click="sort('position')">Position
				<span class="glyphicon sort-icon" ng-show="sortKey=='position'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th data-ng-click="sort('jobType')">Job Type
				<span class="glyphicon sort-icon" ng-show="sortKey=='jobType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th data-ng-click="sort('country')">Country
				<span class="glyphicon sort-icon" ng-show="sortKey=='country'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th data-ng-click="sort('city')">City
				<span class="glyphicon sort-icon" ng-show="sortKey=='city'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
			</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="offer in offers|orderBy:sortKey:reverse">
			<td>{{offer.refNo}}</td>
			<td>{{offer.position}}</td>
			<td>{{offer.jobType}}</td>
			<td>{{offer.country}}</td>
			<td>{{offer.city}}</td>
			<td><a data-ng-click="updateOffer(offer)" class="btn btn-primary">Update</a></td>
			<td><a data-ng-click="deleteOffer(offer)" class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
</section>